.error-msg {
  margin-top: -15px;
  color: red;
  text-align: left !important;
}

.form-values {
  text-align: center;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-div {
  display: flex;
  justify-content: center;
}
